@model IEnumerable<HoiNghiKhoaHoc.Models.Speaker>
@{
    ViewData["Title"] = "Danh sách diễn giả";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="h2 mb-4">@ViewData["Title"]</h2>
    <a asp-controller="Speakers" asp-action="Create" asp-area="Admin" class="btn btn-success">Thêm mới</a>
</div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Họ tên</th>
            <th>Học vị</th>
            <th>Đơn vị</th>
            <th>Email</th>
            <th>Ảnh</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var speaker in Model)
        {
            <tr>
                <td>@speaker.FullName</td>
                <td>@speaker.Title</td>
                <td>@speaker.Affiliation</td>
                <td>@speaker.Email</td>
                <td>
                    @if (!string.IsNullOrEmpty(speaker.PhotoUrl))
                    {
                        <img src="@speaker.PhotoUrl" alt="Ảnh" width="60" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@speaker.Id" class="btn btn-warning btn-sm">Sửa</a>
                    <a asp-action="Delete" asp-route-id="@speaker.Id" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xoá người dùng này?');">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>
