@model IEnumerable<HoiNghiKhoaHoc.Models.Conference>

@{
    ViewData["Title"] = "Danh sách Hội nghị";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}

<div class="mb-3">
    <a asp-action="Create" asp-controller="Conferences" asp-area="Admin" class="btn btn-primary">
        Thêm Hội Nghị
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" asp-area="Admin">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" asp-area="Admin">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" asp-area="Admin">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
